<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
  </head>

  <body>

    <div class="login-box">
      <form id="login-form" method="post" action="/postSignIn/">
        {% csrf_token%}
        <div class="user-box">
          <input type="email" name="email" id="email" autocomplete="off" required>
          <label class="user-label" id="email-label" for="email">Email Address</label>
        </div>
        <div class="user-box">
          <input type="password" name="password" id="password" autocomplete="off" required>
          <label class="user-label" id="password-label" for="password">Password</label>
        </div>
        <p>{{msg}}</p>
        <button id="login-label" type="submit" class="butt">Login</button>
      </form>
      <a class="butt1" id="signup-label" href="/signUp/">Sign Up</a>
    </div>


  </body>

</html>